[Desktop Entry]
Version=1.0
Name=Sysprof Profiler
Comment=A system-wide linux profiler
Exec=sysprof
Icon=sysprof
Type=Application
Categories=Profiling;Development;
